<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome to adding page</h1> 
    <form action="http://localhost:8080/chats/k" method="post">
    <input type="from" name="from" placeholder="who r u">
     <br>
     <br>
    <textarea name="message" placeholder="enter message here" id=""></textarea>
    <br>
    <br>
    <input type="to" name="to"  placeholder="to whom u want to send">
    <br>
    <br>
    <button>submit</button>
    </form>
</body>
</html>