<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>u entered wrong password so cant able to edit</h1>
    <br>
    <hr>
    <hr>
    <h2><a href="http://localhost:8080/user/<%= user.id %>/edit ">for trying again</a></h2>
    <hr>
    <br>
    <h2><a href="http://localhost:8080">for home</a></h2>
</body>
</html>