body{
        background-color: aquamarine;
}
.main{
    text-align: center;
    border: 3px solid rgb(249, 54, 151);
    width: 50vw;
    height: 40vh;
    background-color: rgb(218, 211, 74);
    margin: 200px 300px;
    color: blue;
    overflow-y: scroll;
    
    box-shadow: 10px 20px 30px rgb(223, 20, 145);
    border-radius: 30px;
    
}
h1{
    color: black;
}