<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELO ALL</h1> 
    <h2><%= 4*6 %></h2>
    <h2><%= "apna apna".toUpperCase() %></h2>
    <h3><%= [1,2,4,5,6,78,8,54][5] %></h3>
</body>
</html>