body{
    background-color: #0A192F;
    color: white;
}
.description{
    text-align: center;
}
.description > h2{
    margin: 0px;
}
.description > p{
    margin: 0px;
}
.sub-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.f-item{
    width: 320px;
    height: 320px;
    background-color: #112240;
    margin: 20px;
    padding: 25px; 
}
.f-item{
    font-size: 14px;
}
.svg-folder{
    color: aqua;
}
.t-stack-list{
    list-style: none;
    display: flex;
     gap: 15px;
    padding: 0px; 
}