li{
    background-color: red;
    border: 4px solid rgb(43, 228, 200);
    width: 30vw;
    
    
}
 .delete{
    margin: -40px 190px;
    padding: 5px 10px;

}
 ul{
    margin: 20px -38px;
    
    list-style-type: none;
}
li{
    margin: 10px 10px 10px 0px;
    text-align: center;
    padding-top: 10px;
}
.input{
    border: 4px solid blue;
    padding: 10px;
    box-shadow: 5px 5px rgb(67, 184, 20);
}  
.submit{
    margin: 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}